{% extends "base.html" %}

{% block title %}Bandas - RiffMates{% endblock %}

{% block content %}
    <h1>Listado de Bandas</h1>

    <div class="grid">
        {% for band in bands %}
        <div class="card">
            <h3>{{ band.name }}</h3>
            <p><strong>Miembros:</strong></p>
            <ul>
                {% for musician in band.musicians.all %}
                <li><a href="{% url 'musician' musician.id %}">{{ musician.first_name }} {{ musician.last_name }}</a></li>
                {% empty %}
                <li>Sin miembros registrados.</li>
                {% endfor %}
            </ul>
        </div>
        {% empty %}
        <p>No hay bandas registradas.</p>
        {% endfor %}
    </div>
{% endblock %}
